<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ummaly.app">

    <application
        android:label="Ummaly"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- 🚫 STOP Firebase from auto-initializing (we initialize manually in Dart) -->
        <meta-data android:name="firebase_automatic_data_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />

        <!-- ✅ Your Flutter MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Startup theme before Flutter loads -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ Flutter Plugin Registration -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- ✅ Required for Flutter text plugins -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
