# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.lock
generated_plugin_registrant.dart

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Android
.android/
gradle-wrapper.jar
/.gradle/
gradlew
gradlew.bat
/local.properties
/captures/
.cxx/

# iOS
.ios/
Pods/
.pub-cache/

# Other
*.keystore
*.jks
key.properties

# Mac/Windows system files
.DS_Store
Thumbs.db
